header{
    padding: 40px;
    .logo{
        display: block;
        width: 140px;
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
footer{
    padding: 18px 40px;
    background-color: $blue;
    color: white
}