<aside class="sidebar">
    <div class="sidebar__header">
        <div id="hamburger" class="">
            <span></span>
            <span></span>
        </div>
        <div class="sidebar__arrow"><i class="icon-arrow-left"></i></div>
    </div>
    <div class="sidebar__body">
        <nav id="menu">
            <ul>
                <li><a href="#about" class="scroll">About us</a></li>
                <li><a href="#projects" class="scroll">Projects</a></li>
                <li><a href="#lets_talk" class="scroll">Let’s talk</a></li>
            </ul>
        </nav>
    </div>
    <div class="sidebar__footer">
        <nav class="sidebar__socials">
            <ul>
                <li><a href="#"><i class="icon-fb"></i></a></li>
                <li><a href="#"><i class="icon-inst"></i></a></li>
                <li><a href="#"><i class="icon-youtube"></i></a></li>
            </ul>
        </nav>
    </div>
</aside>
